/* Sets Tile Menu Background Color */
.forceCommunityTileMenuItem .tileLabel {
  background-color: #f7f7f7 !important;
  color: #000000 !important;
}

/* Removes Image Preview on Tile Menu Item*/
.forceCommunityTileMenuItem .imagePreview {
  display: none !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body,
body * {
  font-family: "Nunito", sans-serif;
}

body {
  /*padding: 125px 0 0 0;*/
}

.container {
  width: 1180px;
  margin: auto;
  max-width: 100%;
}

.easing {
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: all 300ms cubic-bezier(0.25, 0.1, 0.25, 1); /* ease (default) */

  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-timing-function: cubic-bezier(
    0.25,
    0.1,
    0.25,
    1
  ); /* ease (default) */
}

.-mobileonly {
  display: none !important;
}
@media all and (max-width: 1180px) {
  .-mobileonly {
    display: block !important;
  }
}

@media all and (max-width: 1180px) {
  .-desktoponly {
    display: none !important;
  }
}

@media (hover: none) and (pointer: coarse) {
  body {
    font-size: 14px;
  }
}

.siteforceCptBody .cHeaderTopInternalWrapper,
.cHeader.slds-container--fluid {
  /*display: none;*/
}
.cBrandingLogo {
  display: none;
}
.forceCommunityGlobalNavigation {
  display: none !important;
}
.cBrandingLogo {
  display: none !important;
}
.selfServiceUserProfileMenu {
  display: none;
}

.cCenterPanel {
  min-height: calc(100vh - 500px);
}

@media print {
  html,
  body,
  body * {
    font-family: arial, sans-serif;
  }
}

.siteforceCptBody,
.siteforceCptBody .cHeaderWrapper {
  z-index: 1000 !important;
}

.slds-spinner_container,
.siteforceSpinnerManager .mask,
.siteforceLoadingBalls.global {
  z-index: 999 !important;
}

.-hidden {
  display: none !important;
}

.slds-button_brand,
.slds-button--brand,
.slds-button_neutral,
.slds-button--neutral {
  padding-left: 7px;
  padding-right: 7px;
  min-width: 100px;
  font-size: 13px;
}

.forceCommunityUserProfileDetail,
.accountSection,
.dropdownvisibility,
.emailNotificationsSection {
  padding: 0 25px !important;
}

.salesforceIdentityLoginBody2 {
  background: none !important;
  overflow: hidden;
}
.salesforceIdentityLoginBody2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background: rgb(201, 0, 44);
  background: -moz-linear-gradient(
    90deg,
    rgba(201, 0, 44, 1) 0%,
    rgba(207, 49, 53, 1) 50%,
    rgba(232, 172, 57, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(201, 0, 44, 1) 0%,
    rgba(207, 49, 53, 1) 50%,
    rgba(232, 172, 57, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(201, 0, 44, 1) 0%,
    rgba(207, 49, 53, 1) 50%,
    rgba(232, 172, 57, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c9002c",endColorstr="#e8ac39",GradientType=1);
  top: -210px;
  z-index: -1;
  border-radius: 100%;
  transform: scale(2);
}

.header.cHeader
  .line.two
  .mainmenu_area
  .servicio_al_cliente
  > ul
  > li:hover
  > .sub-menu {
  z-index: 3;
}

.slds-col_bump-left {
  margin-left: unset !important;
}
.search-field {
  border: 1px solid !important;
}

@media only screen and (max-width: 480px) {
  .transferirBtn {
    text-align: center;
  }
  .forceCommunityRichText h1 {
    font-size: 0.5rem !important;
  }
}

@media only screen and (max-width: 1280px) {
  .siteforceCptBody .cptNavBar {
    max-width: calc(100vw - 470px) !important;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1536px) {
  .siteforceCptBody .cptNavBar {
    max-width: calc(100vw - 50em) !important;
  }
}

@media only screen and (min-width: 1537px) {
  .siteforceCptBody .cptNavBar {
    max-width: calc(100vw - 1035px) !important;
  }
}
.cAltToggleNav {
  display: none !important;
}

body .siteforceCptBody .cSearchContainer {
  width: 100%;
  max-width: 100%;
}

.cSearchContainer .forceCommunityGlobalSearchInput {
  width: 400px;
  float: right;
}
