@import "../reset.css";
@import "./Header/Header.scss";
@import "./HomePage/HomePage.scss";
@import "./ProductsPage/ProductPage.scss";
@import "./ProductCard/ProductCard.scss";
@import "./GoToCartIcon/GotoCartIcon.scss";

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}