.products__category {
  margin: 30px 0px;
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #656363;
}

.products__group {
}
